.text_info {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  gap: 20px;
}
.movie_name {
  font-size: 30px;
}
.year {
  font-weight: 400;
}
.rating {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.vote-circle {
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  font-size: 20px;
}
.overview_text {
  font-size: 19px;
  font-weight: 400;
}
.genres {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.movie_list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 19px;
  gap: 15px;
}
