.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: none;

  padding: 10px 34px;
  background-color: #e13c52;
  color: #fff;
  cursor: pointer;
}
