.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: none;

  position: relative;
  left: 15%;
  top: 30%; /* NEED MORE FLEXIBILITY STYLES*/
  z-index: 5;
  font-size: 0.6em;
  background-color: #E44888;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
}

@media (min-width: 375px) {
  .btn {
    font-size: 0.6em;
    padding: 5px 17px;
  }
}
@media (min-width: 768px) {
  .btn {
    font-size: 1em;
    padding: 10px 34px;
  }
}
@media (min-width: 1440px) {
  .btn {
    font-size: 1.5em;
  }
}
