.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 30px;
  margin: 40px 0 40px 0;
}
.input {
  width: 85%;
  height: 46px;
  border-radius: 32px;
  padding: 0 120px 0 20px;
  border: none;
}
.input:hover,
.input:focus {
  outline: none;
  border: 2px solid #e44888;
}

.button {
  height: 46px;
  background-color: #C0FCF9;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 25px;
  padding: 4px 25px;
}

@media (min-width: 768px) {
  .button {
    right: 52px;
  }
}

@media (min-width: 1440px) {
  .button {
    right: 94px;
  }
}
