.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin: 40px 0 40px 30px;
}
.input {
  width: 370px;
  height: 25px;
}
.input:hover,
.input:focus {
  outline: none;
  border: 2px solid #e44888;
}

.button {
  height: 26px;
  background-color: #6fa9db;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
