.list {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  grid-template-columns: min-content;
  text-align: center;
}
.nav_link {
  color: #FF6374;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.2s;
  text-align: -webkit-center;
}
.nav_link:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
.poster {
  border-radius: 10px;
  overflow: hidden;
  width: 220px;
  height: 330px;
}
.img {
  transition: transform 0.2s;
}
.img:hover {
  transform: scale(1.1);
}
@media (min-width: 375px) {
  .list {
    grid-column-gap: 30px;
    grid-row-gap: 15px;
  }
}
@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
